body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2eff74;
    color: #434e00;
    padding: 20px;
    text-align: center;
    
}

.box{
    flex: 1;
	margin: 5px;
	text-align: center;
	font-size: 1.5em;
}
.row {
	flex-direction: row;
}
.sucos {
    /* max-width: 800px; */
	margin: 0 auto;
	display: flex;
}

.sucos div {
    list-style: none;
    margin: 5px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #eeff00;
    box-shadow: 0 0 5px rgb(11, 255, 3);
    text-align: center; 
}


.sucos div img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    text-align: center;
}

.sucos div h3 {
    margin: 0;
    padding: 0;
}

.sucos div p {
    margin: 5px 0;
}



h1 {
    margin: 0;
    padding: 0;
}

p {
    margin: 40px 0;
}

main {
    padding: 50px;
}


.informacoes {
    margin-top: 20px;
    padding: 20px;
    background-color: #3aff65;
    color: #ffffff;
}

.informacoes h3 {
    margin: 0;
    padding: 0;
}

.informacoes p {
    margin: 10
}
img{
    width: 100px;
    height: 100px;
}
h2{
    text-align: center;
}